@model List<Practica.MVC.MVC.Models.EmployeeView>

@{
    ViewBag.Title = "Index de Employee";
}

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Select", "Index", "Employee")</li>
                <li>@Html.ActionLink("Insertar", "Insert", "Employee")</li>
                <li>@Html.ActionLink("Updatear", "Update", "Employee")</li>
                <li>@Html.ActionLink("Deletear", "Delete", "Employee")</li>
            </ul>
        </div>
    </div>
</div>

<h1 class="bg-primary">Index de Employee</h1>

<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last name</th>
            <th>First name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
            </tr>
        }
    </tbody>
</table>
